.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 8714px;
  position: relative;
}

.desktop .text-wrapper {
  position: absolute;
  top: 99px;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 174px;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .product-strategy {
  position: absolute;
  top: 246px;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .recruiter-tool-mogul {
  position: absolute;
  top: 402px;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #027bff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .span {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #027bff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .p {
  position: absolute;
  width: 520px;
  top: 943px;
  left: 720px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .i-joined-mogul-as {
  position: absolute;
  width: 520px;
  top: 153px;
  left: 720px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .we-noticed-a-growing {
  position: absolute;
  width: 520px;
  top: 548px;
  left: 720px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .it-became-clear-that {
  position: absolute;
  width: 520px;
  top: 1682px;
  left: 720px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 520px;
  top: 4742px;
  left: 720px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 520px;
  top: 5030px;
  left: 460px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 520px;
  top: 5752px;
  left: 460px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 520px;
  top: 6445px;
  left: 460px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .once-you-ve-sourced {
  position: absolute;
  width: 520px;
  top: 7140px;
  left: 460px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .once-all-candidates {
  position: absolute;
  width: 520px;
  top: 7901px;
  left: 460px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 153px;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-8 {
  top: 548px;
  position: absolute;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 225px;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-10 {
  top: 381px;
  position: absolute;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-11 {
  top: 943px;
  position: absolute;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 1682px;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-13 {
  top: 4742px;
  position: absolute;
  left: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .inboxrecruiter {
  position: absolute;
  width: 730px;
  height: 474px;
  top: 5114px;
  left: 355px;
  object-fit: cover;
}

.desktop .oldrecruiter {
  position: absolute;
  width: 730px;
  height: 413px;
  top: 1134px;
  left: 355px;
  object-fit: cover;
}

.desktop .rectangle {
  top: 498px;
  position: absolute;
  width: 1040px;
  height: 1px;
  left: 200px;
  background-color: #000000;
}

.desktop .rectangle-2 {
  top: 893px;
  position: absolute;
  width: 1040px;
  height: 1px;
  left: 200px;
  background-color: #000000;
}

.desktop .rectangle-3 {
  top: 1632px;
  position: absolute;
  width: 1040px;
  height: 1px;
  left: 200px;
  background-color: #000000;
}

.desktop .rectangle-4 {
  top: 4692px;
  position: absolute;
  width: 1040px;
  height: 1px;
  left: 200px;
  background-color: #000000;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 5002px;
  left: 700px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .inbox {
  position: absolute;
  width: 28px;
  height: 24px;
  top: 4969px;
  left: 706px;
  object-fit: cover;
}

.desktop .sourcing {
  position: absolute;
  width: 30px;
  height: 28px;
  top: 5688px;
  left: 704px;
  object-fit: cover;
}

.desktop .filters {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 6380px;
  left: 706px;
  object-fit: cover;
}

.desktop .review {
  position: absolute;
  width: 28px;
  height: 32px;
  top: 7072px;
  left: 706px;
  object-fit: cover;
}

.desktop .text-wrapper-15 {
  position: absolute;
  top: 5724px;
  left: 687px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .sourcingrecruiter {
  position: absolute;
  width: 730px;
  height: 474px;
  top: 5821px;
  left: 355px;
  object-fit: cover;
}

.desktop .text-wrapper-16 {
  position: absolute;
  top: 6417px;
  left: 697px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-17 {
  position: absolute;
  top: 7112px;
  left: 693px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-18 {
  position: absolute;
  top: 7873px;
  left: 683px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .flows {
  position: absolute;
  width: 830px;
  height: 277px;
  top: 1978px;
  left: 305px;
  object-fit: cover;
}

.desktop .recruiterprototype {
  position: absolute;
  width: 830px;
  height: 818px;
  top: 2325px;
  left: 305px;
  object-fit: cover;
}

.desktop .img {
  position: absolute;
  width: 830px;
  height: 662px;
  top: 3213px;
  left: 305px;
  object-fit: cover;
}

.desktop .recruiterprototype-2 {
  position: absolute;
  width: 830px;
  height: 662px;
  top: 3945px;
  left: 305px;
  object-fit: cover;
}

.desktop .campaign {
  position: absolute;
  width: 35px;
  height: 26px;
  top: 7839px;
  left: 703px;
  object-fit: cover;
}

.desktop .filtersrecruiter {
  position: absolute;
  width: 730px;
  height: 474px;
  top: 6514px;
  left: 355px;
  object-fit: cover;
}

.desktop .reviewrecruiter {
  position: absolute;
  width: 730px;
  height: 474px;
  top: 7272px;
  left: 355px;
  object-fit: cover;
}

.desktop .campaignrecruiter {
  position: absolute;
  width: 730px;
  height: 474px;
  top: 8012px;
  left: 355px;
  object-fit: cover;
}
