.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 6897px;
  position: relative;
}

.desktop .text-wrapper {
  position: absolute;
  top: 99px;
  left: 200px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 174px;
  left: 200px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .product-strategy {
  position: absolute;
  top: 246px;
  left: 200px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .p {
  position: absolute;
  width: 520px;
  top: 796px;
  left: 720px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .i-joined-mogul-as {
  position: absolute;
  width: 520px;
  top: 153px;
  left: 720px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 520px;
  top: 548px;
  left: 720px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 520px;
  top: 1023px;
  left: 720px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .we-designed-the {
  position: absolute;
  width: 520px;
  top: 3874px;
  left: 720px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 153px;
  left: 200px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-6 {
  top: 548px;
  position: absolute;
  left: 200px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 225px;
  left: 200px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-8 {
  top: 796px;
  position: absolute;
  left: 200px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 1023px;
  left: 200px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .text-wrapper-10 {
  top: 3874px;
  position: absolute;
  left: 200px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .rectangle {
  top: 498px;
  position: absolute;
  width: 1040px;
  height: 1px;
  left: 200px;
  background-color: #000000;
}

.desktop .rectangle-2 {
  top: 746px;
  position: absolute;
  width: 1040px;
  height: 1px;
  left: 200px;
  background-color: #000000;
}

.desktop .rectangle-3 {
  top: 973px;
  position: absolute;
  width: 1040px;
  height: 1px;
  left: 200px;
  background-color: #000000;
}

.desktop .rectangle-4 {
  top: 3824px;
  position: absolute;
  width: 1040px;
  height: 1px;
  left: 200px;
  background-color: #000000;
}

.desktop .prototypecommunity {
  position: absolute;
  width: 1041px;
  height: 540px;
  top: 1334px;
  left: 200px;
  object-fit: cover;
}

.desktop .img {
  position: absolute;
  width: 1039px;
  height: 337px;
  top: 1924px;
  left: 200px;
  object-fit: cover;
}

.desktop .prototypeplayout {
  position: absolute;
  width: 1040px;
  height: 793px;
  top: 2311px;
  left: 200px;
  object-fit: cover;
}

.desktop .prototypeown {
  position: absolute;
  width: 1040px;
  height: 570px;
  top: 3154px;
  left: 200px;
  object-fit: cover;
}

.desktop .overlap-group {
  width: 232px;
  left: 604px;
  position: absolute;
  height: 2020px;
  top: 4240px;
}

.desktop .calendar {
  position: absolute;
  width: 232px;
  height: 643px;
  top: 1377px;
  left: 0;
  object-fit: cover;
}

.desktop .dashboardmorning {
  position: absolute;
  width: 232px;
  height: 647px;
  top: 457px;
  left: 0;
  object-fit: cover;
}

.desktop .evening {
  position: absolute;
  width: 232px;
  height: 647px;
  top: 916px;
  left: 0;
  object-fit: cover;
}

.desktop .plan {
  position: absolute;
  width: 232px;
  height: 643px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .overlap {
  width: 234px;
  left: 836px;
  position: absolute;
  height: 2020px;
  top: 4240px;
}

.desktop .img-2 {
  position: absolute;
  width: 234px;
  height: 647px;
  top: 457px;
  left: 0;
  object-fit: cover;
}

.desktop .evening-2 {
  position: absolute;
  width: 234px;
  height: 647px;
  top: 916px;
  left: 0;
  object-fit: cover;
}

.desktop .img-3 {
  position: absolute;
  width: 234px;
  height: 643px;
  top: 1377px;
  left: 0;
  object-fit: cover;
}

.desktop .img-4 {
  position: absolute;
  width: 234px;
  height: 643px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .overlap-2 {
  width: 234px;
  left: 370px;
  position: absolute;
  height: 2020px;
  top: 4240px;
}

.desktop .appdemo {
  position: absolute;
  width: 700px;
  height: 394px;
  top: 6260px;
  left: 370px;
}

.desktop .recruiter-tool-mogul {
  position: absolute;
  top: 402px;
  left: 200px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #027bff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-11 {
  top: 381px;
  position: absolute;
  left: 200px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

